/*----------------------------------------------------------------------------*/
/* RESET & TYPOGRAPHY */
* {
  box-sizing: border-box;
}
body {
  min-height: 740px;

  font-family: "Overpass", Helvetica, Roboto, sans-serif;
  background-color: black;
  color: white;
}
code {
  font-family: "Ubuntu Mono ", monospace;
  font-weight: 700;
}
h1, h2, h3, h4 {
  margin: 0;
  text-align: center;
  font-weight: 700;
}
a {
  color: #00faab;
  text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/*----------------------------------------------------------------------------*/
/* IMPRESS STUFF */
.step {
    position: relative;
    width: 1000px;
    padding: 40px;
    margin: 20px auto;
    font-size: 48px;
    line-height: 1.5;
}

.impress-enabled .step {
    margin: 0;

    transition: opacity 1s;
}
.impress-enabled .step.active {
  opacity: 1
}
.step.past {
  opacity: 1;
}
.step.future {
  opacity: 0;
  /* opacity: 1; */
}

.fallback-message {
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}
.fallback-message p {
    margin-bottom: 10px;
}
.impress-supported .fallback-message {
    display: none;
}

.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }


/*----------------------------------------------------------------------------*/
/* REUSABLE */
.source {
  font-size: 16px;
  text-align: center;
  line-height: 1.9;
}
.font30 {
  font-size: 30px;
  line-height: 1.9;
}
.font50 {
  font-size: 46px;
  line-height: 1.7;
}
.font75 {
  font-size: 75px;
}
.font140 {
  font-size: 140px;
}
.font200 {
  font-size: 200px;
}
.green {
  color: #00faab;
}
.blue {
  color: #1a0dff;
}
.pink {
  color: #f81968;
}
.mb30 {
  margin-bottom: 30px;
}

.api {
  padding: 0;
}
.title {
  margin: 1rem 0 2rem;
  font-weight: 900;
}
.small-title {
  font-weight: 900;
  margin: 3rem 0 1rem;
}

.video {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.video-portrait {
  display: block;
  margin: 0 auto;
  height: 700px;
}

.img {
  display: block;
  margin: 0 auto;
  height: 700px;
  max-width: 100%;
}
.width70 {
  max-width: 70%;
}
.height600 {
  height: 600px;;
}
.height400 {
  height: 400px;;
}

.easyhard {
  margin-bottom: 100px;
}
.easyhard h2 {
  font-weight: 900;
  line-height: 0.8;
}

.sidebyside {
  display: flex;
}
.sidebyside > pre {
  width: 50%;
}
.hljs {
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  padding: 0;
  font-size: 26px;
}
.api-img {
  width: 50%;
  height: auto;
  margin-top: -50px;
}

/*----------------------------------------------------------------------------*/
/* INDIVIDUAL SLIDES */
#title {
  text-align: center;
}

#time {
  display: flex;
  justify-content: center;
}
#time > * {
  margin: 20px;
}

.ios-example {
  width: 500px;
}
.ios-example video {
  display: block;
  margin: 0 auto;
  height: 650px;
}

#space h2 {
  transform: translateY(200px);
  font-size: 250px;
  font-weight: 900;
}

#ala img {
  display: block;
  margin: 100px auto 0;
  height: 800px;
}

#restaurant > * {
  border: solid 3px white;
}

#thanks {
  position: relative;
}
#thanks h2 {
  position: absolute;
  bottom: -480px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 270px;
  font-weight: 900;
}

.now-question,
.future-question {
  display: block;
  transition: all 0.2s ease-out;
}
.now-question {
  transform: translate(320px, 50px);
}
.future-question {
  transform: translate(0px, 50px);
}
.past > .now-question,
.past > .future-question {
  opacity: 0;
}
